 
  .box {
    width: 100px;
    height: 100px;
    background: #ff1c68;
    transform-origin: 50% 50%;
    display:inline-block;
    align-items: center;
    justify-content: center;
    margin-top:100px;

    
  }
  